<ons-page ng-controller="BusinessEntryCtrl">
	<ons-toolbar>
		<div class="left">
			<ons-back-button>Back</ons-back-button>
		</div>
	  <div class="center">Business Entry</div>
	    <div class="right">
			<ons-toolbar-button ng-click="save()">
			  <ons-icon icon="save">
			</ons-toolbar-button>
		</div>
	</ons-toolbar>
	
	<form name="form" ng-submit="save(form.$valid)" novalidate>
	<ons-list>
		<ons-list-item>
			<ons-row>
				<ons-col width="90px">
					<label style="color: #666">Name</label>
				</ons-col>
				<ons-col>
					<div class="list-input">
						<input class="text-input"
							ng-model="business.Name"
							placeholder="Name">
						</input>
					</div>
				</ons-col>
			</ons-row>
		</ons-list-item>
		<ons-list-item>
			<ons-row>
				<ons-col>
					<label class="radio-button">
					  <input type="radio" ng-model="business.Type" value="private">
					  <div class="radio-button__checkmark"></div>
					  Private
					</label>
					<label class="radio-button">
					  <input type="radio" ng-model="business.Type" value="registered">
					  <div class="radio-button__checkmark"></div>
					  Registered
					</label>
				</ons-col>
			</ons-row>
		</ons-list-item>
		<ons-list-item>
			<ons-row>
				<ons-col width="90px">
					<label style="color: #666">Suburb</label>
				</ons-col>
				<ons-col>
					 <select ng-model="business.Suburb" ng-options="suburb.Name for suburb in suburbs"></select>
				</ons-col>
			</ons-row>
		</ons-list-item>
		<ons-list-item>
			<ons-row>
				<ons-col width="90px">
					<label style="color: #666">Categories</label>
				</ons-col>
				<ons-col>
					<div class="list-input">
						<span ng-click="showPicker()">{{lesson.Deadline}}</span>							
					</div>
				</ons-col>
			</ons-row>
		</ons-list-item>
		<ons-list-item>
			<ons-row>
				<ons-col width="90px">
					<label style="color: #666">Description</label>
				</ons-col>
				<ons-col>
					<div class="list-input">
						<textarea class="text-input"
						  ng-model="lesson.Description" 
						  placeholder="description" required>
						</textarea>
					</div>
				</ons-col>
			</ons-row>
		</ons-list-item>			
	</ons-list>
	
	<div class="content-padded">
		<ons-button modifier="large" type="submit" ng-disabled="form.$invalid">
			Save
		</ons-button>
	</div>
	</form>
</ons-page>