<ons-navigator var="myNavigator">
<ons-page ng-controller="LessonsCtrl">
	<ons-toolbar>		
		<div class="center" style="width: 75%">
			<input type="search" placeholder="Search" class="search-input borderless" ng-model="searchText" ng-model-options="{debounce: 1000}" />
		</div>
		<div class="right" style="max-width: 100%">
			<ons-toolbar-button ng-click="addClass()">
			  <ons-icon icon="plus">
			</ons-toolbar-button>
		</div>
	</ons-toolbar>
	<ul slide-item-group>
        <li class="list-item" ng-repeat="lesson in lessons">
			<slide-item on-tap="showLesson($index)">				
				<div class="swipe-item-top lesson-item">
					<div class="table">
						<div class="lesson-item-date table-column">
							{{lesson.Date}}
						</div>
						<div class="lesson-item-duration table-column">
							{{lesson.Duration}}
						</div>
						<div class="lesson-item-cost table-column">
							{{lesson.Cost}}
						</div>
						<div class="lesson-details table-column">					
							<div class="lesson-item-name">{{lesson.Name}}</div>
							<div class="lesson-item-desc">{{lesson.Description}}</div>
						</div>
					</div>
				</div>
				<div class="swipe-item-bottom">
					<div class="swipe-item-menu" ng-click="moreActions({{activity.Id}})">
						More
					</div>
					<div class="swipe-item-menu" style="background-color: red; color: white">
						Delete
					</div>
				</div>
			</slide-item>
		</li>
    </ul>	
</ons-page>
</ons-navigator>